# Virtual environment
venv/
venv*/
.Python
bin/
include/
lib/
lib64/
pip-selfcheck.json

#IDE files
.vscode/
__pycache__/
.idea/
*.iml
*.pyc

#Environment Variables
.env

#Databases
friends.db
instance/

#Compiled Python files
*.pyc

#Dependency directories
node_modules/
/dist/